# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=1.4.35
Encoding=UTF-8
Name=WORM
Icon=${SNAP}/worm128.png
MimeType=x-scheme-handler/worm;
Exec=worm %u
Terminal=false
Categories=Office;Finance;
Comment=WORM P2P Cryptocurrency
Keywords=internet;worm;
Name[de_AT]=worm.desktop
